<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happiness Index Statistics</title>
</head>
<body>
    <div class="top-container">
        <div class="header">
            <img src="{{ url_for('static', filename='img/sun-icon-8583.png') }}" alt="sun"/>
            <h1>Happiness Index Report</h1>
            <ul class="nav">
                <li><a href="{{ url_for('statistics_page') }}">Statistics</a></li>
                <li><a href="{{ url_for('userpoll') }}">User Poll</a></li>
                <li><a href="{{ url_for('summary_page') }}">Recommendations</a></li>
            </ul>
        </div>
    </div>  
    <br> 
    <div class="content-container">
        <p>Welcome to the Happiness Index website. Data is collected from numerous countries, in the year 2018, 
            displaying how happiness is measured across the world. The Happiness Index is based on key factors such as 
            GDP per capita, social support, healthy life expectancy, freedom to make life choices, generosity, and 
            perceptions of corruption. On this website, you can explore the displayed data with interactive visualisations, 
            providing detailed analyses to better one's knowledge of the global happiness index scores. 
            In addition, you can submit your own happiness rating for your own country and view recommendations on 
            how one can improve these causes.</p>
        <img src="{{ url_for('static', filename='img/happy.jpg') }}" class="happy-img">
    </div>
</body>
</html>