<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="top-container">
        <div class="header">
            <img src="{{ url_for('static', filename='img/sun-icon-8583.png') }}" alt="sun"/>
            <h1>Happiness Index Report</h1>
            <ul class="nav">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('statistics') }}">Statistics</a></li>
                <li><a href="{{ url_for('userpoll') }}">User Poll</a></li>
                <li><a href="{{ url_for('summary') }}">Summary</a></li>
            </ul>
        </div>
    </div>  
    <br> 

    {% if message %}
    <p style="color: green; font-family: 'Arial', sans-serif; font-weight: bold;">{{ message }}</p>
    {% endif %}


    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Country</th>
                    <th>Believes Happiness is High</th>
                    <th>User Happiness Score</th>
                    <th>Actual Happiness Score</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in user_submissions %}
                <tr>
                    <td>{{ entry['Country'] }}</td>
                    <td>{{ entry['Happiness Response'] }}</td>
                    <td>{{ entry['Score'] }}</td>
                    <td>{{ entry['Actual Score'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>   

<!-- Pie Chart -->
{% if pie_chart %}
    <h2>User Happiness Scores Pie Chart</h2>
    <div>{{ pie_chart|safe }}</div>
{% else %}
    <p>No data available for the pie chart.</p>
{% endif %}

</body>
</html>