* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-container {
  background-color: #a5dc81;
  padding: 20px;
  width: 100%;
  min-height: 120px;
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.header img {
  width: 85px;
  height: 85px;
}

.header h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
  margin-left: 10px;
  flex-grow: 1;
}

.nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  gap: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.nav li {
  display: inline-block;
  margin: 0 10px;
}

.nav a {
  text-decoration: none; 
  color: white;
  font-size: 16px;
  padding: 5px 5px;
  display: block;
  transition: background-color 0.3s ease;
}

.nav a:hover {
  background-color: #b6e397;
  border-radius: 5px;
}

.content-container {
  display: flex;
  align-items: center;
  max-width: 900px;
  margin: auto;
  animation: fadeInUp 1s ease-out;
  font-family: Arial, Helvetica, sans-serif;
}

.content-container p {
  flex: 1;
  font-size: 18px;
  line-height: 1.6;
}

.happy-img {
  width: 375px;
  height: auto;
  margin-left: 20px;
}

@keyframes fadeInUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: #4CAF50;
}

h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #060606;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #5e5e5e;
  text-align: center
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #5e5e5e;
  text-decoration: underline;
}

li {
  font-family: Arial, sans-serif;
}

ol {
  list-style-type: decimal !important;
  padding-left: 20px;
}

ul {
  font-family: Arial, sans-serif;
  margin-left: 40px;
}

p {
  font-family: Arial, sans-serif;
}

.image-container {
  display: flex;
  justify-content: center;
  gap: 20px; 
  flex-wrap: wrap;
}

.image-container img {
  width: 45%;
  max-width: 600px; 
  height: auto; 
  border-radius: 5px; 
}